body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 65px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: orange;
    z-index: 10;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 45px;
    user-select: none;
    font-family: sans-serif;
}

nav p:hover{
    color: #377ADF;
    cursor: pointer;
}

#indicator{
    position: absolute;
    height: 5px;
    bottom: 0;
    background-color: white;
    transition: 0.5s;
    border-radius: 10px;
}


#search-box{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: orange;
}
input{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: white;
    opacity: 35%;
    font-size: 20px;
    margin: 5px;
}

.course-name{
    display: none;
}

input::placeholder{
    color: black;
    font-size: 20px;
    

}

input:focus{
    outline: none;
    border: none;
    color: black;
}

input:focus::placeholder{
    color: transparent;
}

datalist{
    width: 100%;
}

#search-box svg{
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

#recommended{
    padding-left: 15px;
}

.courses{
    display: block;
}

#course1{
    border: solid, 3px;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 100px;
}


#course2{
    border: solid, 3px;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 100px;
}

img{
    margin: auto;
    position: absolute;
    left: 1350px;
    height: 100px;
    width: 150px;
    top: 200px;
}

#resultsbox{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height:fit-content;
    background-color: orange;
    color: white;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar{
    display: none;
}